h1 {
    color: black;
    font-size: 32px;
}

#page-title{
    color: darkblue;
    border-bottom: solid 2px;
}

.menu-item {
    font-style: italic;
    color: green;
}

[data-highlight="true"] {
    color: orange;
    font-weight: bold;
}
/*section[id]*/
section:has([id]) {
    padding: 20px;
    background-color: lightgrey;
}

.section-title{
    text-transform: uppercase;
    text-decoration: underline;
}

p.text {
    font-size: 16px;
    color: black;
}

#special-paragraph{
    color: red;
    background-color: lightpink;
}

img.img {
    border: 3px solid black;
    margin: 10px;
}

img.highlight{
    border: gold;
    transform: scale(1.1);
}

footer p {
    color: darkgray;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0 auto;
}

nav li {
    margin: 10px;
    padding: 5px;
}

section:has(img) {
    border: grey solid 1px;
}